#booking-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(to right bottom, #0099ff, #99ff99);
  width: 100%;
}

#booking-page h1 {
  margin: 1em;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;

}


.booking-list h2 {
  margin: 10px;
  text-align: center;
  justify-content: center;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.booking-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.45rem;
}

.booking-list .no-bookings {
  font-style: italic;
  color: #4e4a4a;
  margin-top: 10px;
}

.booking-list tbody tr {
  cursor: default;
}

.booking-list tbody td {
  vertical-align: middle;
}

.booking-list .btn {
  background-color: #069bc4fb;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.booking-list .btn-success {
  background-color: #069bc4fb;
}

.booking-list .btn-danger {
  background-color: #dc3545;
}


.booking-list .btn:hover {
  background-color: #0044ff;
  color: #fff;
}


.completed-booking-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.completed-booking-list h2 {
  margin-top: 1rem;
  font-size: 2.25rem;

}