.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.booking-form label {
  font-weight: bold;
}

.time-label {
  margin-left: 1em;
}

.date-label {
  margin-left: 10.5rem;
}

.booking-form input[type="date"] {
  padding: 0.25rem;
  margin-top: 0.5rem;
  border: solid;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  width: 20rem;
  flex: 1;
}

.datetime-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 0.25rem;
  margin-top: 0.5rem;
  flex: 1;
}


.booking-form button[type="submit"] {
  background-color: #069bc4fb;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.booking-form button[type="submit"]:hover {
  background-color: #0044ff;
}

.react-time-picker {
  background-color: #fff;
  border: solid;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  padding: 0.25rem;
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  width: 7.5rem;
}

.react-time-picker__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.react-time-picker__wrapper input {
  border: none;
  font-size: 1rem;
}

.react-time-picker__wrapper svg {
  fill: #61dafb;
}